.logotype-fx {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 30%;
    opacity: .9;


    position: absolute;
    top: 50%;
    left: 75%;

    transform: translate(-50%, -50%);

}

@media screen and (max-width: 930px ) {

    .logotype-fx {
        display: none;

    }

}


