.poster {
    background: url("./../../images/poster_pic.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 1224px;
    min-height: 496px;
    margin: 0 auto;
    border-radius: 30px;
    z-index: 10;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 0 0 0 140px;
    box-sizing: border-box;
    width: 95%;
}

.poster::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    background-color: black;
    opacity: .3;
    border-radius: 30px;
}

@media screen and (max-width: 1024px) {
    .poster {
        padding: 0 0 0 83px;

    }

}

@media screen and (max-width: 768px) {

    .poster {

        width: 100%;
        min-height: 375px;
        margin: 0 auto;

        border-radius: 0;

        padding: 0 0 0 76px;
    }

    .poster::before {
        border-radius: 0;
    }


}

@media screen and (max-width: 460px) {
    .poster {
        padding: 0 0 0 16px;
        min-height: 250px;
    }

}
