.button_style_two {

    border-color: var(--color-content3);
}


.button_style_two:link {

    text-decoration: none;
}

.button_style_two:visited {

    text-decoration: none;
}

.button_style_two:hover {

    background-color: var(--color-content2);
    border-color: var(--color-content2);
    color: var(--color-content5);

}
