.button {

    font-family: 'Montserrat', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 900;
    line-height: 15px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    padding: 18px 30px;

    border: 2px solid var(--color-content2);
    box-sizing: border-box;
    border-radius: 100px;

    color: var(--color-content1);


}

.button:link {
    color: var(--color-content1);
    text-decoration: none;

}


.button:hover {
    animation: pulse; /* referring directly to the animation's @keyframe declaration */
    animation-duration: .2s;
    background-color: var(--color-content2);

}
